/*stylesheet*/

body {
	background-color: #ffde59;
	color: #333333;
}

h1#main-headline {
	font-size: 48px;
	color: lightblue;
	font-weight: 200;
}

h1.yea-okay {
	color: white;
	font-weight: 900;
}

h1, h2, h3 {
	margin: 0;
}

p {
	color: orchid !important;
}